section.section.advan-section
  .container.advan-container
    .advan-title Преимущества 
     span.title-reg пантовых орешек 
     | Panto
     span.title-orang MAX
    .advan-content
      .advan-content__img
        img.advan-content__img-ico(src="./assets/img/elem/pant_2.png", alt="")
      .advan-content__main
        ul.advan-content__list
          li.advan-content__item
            .advan-content__item-cont
              .advan-content__item-img
                img.advan-content__item-ico(src="./assets/img/elem/img_1.jpg", alt="")
              .advan-content__item-desc
                .item-desc__row Дарит яркие 
                .item-desc__row оргазмы
          li.advan-content__item
            .advan-content__item-cont
              .advan-content__item-img
                img.advan-content__item-ico(src="./assets/img/elem/img_2.jpg", alt="")
              .advan-content__item-desc
                .item-desc__row Нормализует
                .item-desc__row гормональный фон
          li.advan-content__item
            .advan-content__item-cont
              .advan-content__item-img
                img.advan-content__item-ico(src="./assets/img/elem/img_3.jpg", alt="")
              .advan-content__item-desc
                .item-desc__row Избавляет от эректильной
                .item-desc__row дисфункции
          li.advan-content__item
            .advan-content__item-cont
              .advan-content__item-img
                img.advan-content__item-ico(src="./assets/img/elem/img_4.jpg", alt="")
              .advan-content__item-desc
                .item-desc__row Улучшает кровообращение
                .item-desc__row в организме
          li.advan-content__item
            .advan-content__item-cont
              .advan-content__item-img
                img.advan-content__item-ico(src="./assets/img/elem/img_5.jpg", alt="")
              .advan-content__item-desc
                .item-desc__row Повышает тонус
                .item-desc__row и жизненные силы
          li.advan-content__item
            .advan-content__item-cont
              .advan-content__item-img
                img.advan-content__item-ico(src="./assets/img/elem/img_6.jpg", alt="")
              .advan-content__item-desc
                .item-desc__row Регулирует либидо
                .item-desc__row и желание