section.section.choice-section
  .container.choice-container
    .choice-title Проблема 
     span.title-orang ума
     span.title-reg  или 
     span.title-orang тела
     | ?
    .choice-desc Ответьте всего на 2 вопроса и узнайте свой тип импотенции
    .choice-window
      .choice-window__title
        .choice-window__title-count
          .title-count__num 1
        .choice-window__title-text Как уменьшалась эрекция?
      .choice-window__btns
        button.button.choice-button(id="") Постепенно
        button.button.choice-button(id="") Внезапно