section.section.desc-section.container
  .container.desc-container
    .desc-content
      .desc-title Panto
       span.title-orang MAX
       |  – максимальное удовольствие в сексе
      .desc-main 
       span.desc-main--bold Пантовые орешки
       |  – экопродукт, в состав которого
       | входят натуральные компоненты. Препарат абсолютно совместим с клеточными жидкостями,
       | быстро проникает в кровь и начинает действовать уже через 30 минут.
       | Биогенный комплекс орешек действует на половые и репродуктивные
       | функции мужского организма, эндокринные функции, гормональный статус.
       | Также Название оказывает многоплановое действие на функции 
       | и состояние мозга, сердечно-сосудистой, пищеварительной, нервной, иммунной систем.