section.section.hero-section
  .container.hero-container
    header.header    
      .header-left
        .header-logo
          .header-logo__img
            img.header-logo__icon(src="./assets/img/icons/logo.png", alt="", srcset="")
          .header-logo__img-text
            img.header-logo__icon-text(src="./assets/img/icons/logo_text.png", alt="")
      .header-right
        ul.header-list
          li.header-list__item
            img.header-list__img(src="./assets/img/icons/header_leaf.png", alt="")
            .header-list__text
              span.header-list__text--bold 100%
              span натурально
          li.header-list__item
            img.header-list__img(src="./assets/img/icons/header_hand.png", alt="")
            .header-list__text
              span.header-list__text--bold 100%
              span эффективно
    .hero-title Сколько раз за ночь ты можешь?
    .hero-content
      .hero-content__advantages
        .advantages__title Пантомакс – каменный стояк для неприличных рекордов
        ul.advantages__list
          li.advantages__item Мощная эрекция и потенция
          li.advantages__item Занимайся сексом сколько хочешь
          li.advantages__item Получай космические оргазмы
          li.advantages__item Гарантированный стояк до 3-х часов
        .advantages__img
          img.advantages__img-ico(src="./assets/img/elem/pant.png", alt="")
      .hero-content__sales
        .sales__count
          img.sales__count-ico(src="./assets/img/elem/sale.png", alt="")
        .sales__desc
          .sales__desc_one Ваша потенция вернется через 21 день
          .sales__desc_two применения! Проверьте сами
      .hero-content__action
        .action__cout
          .action__cout_scoreboard
            .scoreboard.scoreboard--opac
              .scoreboard__num 0
            .scoreboard 
              .scoreboard__num 1
            .scoreboard
              .scoreboard__num 0
          .action__cout_desc *Всего упаковок по акции 
        .action__form
          .blick
            img.blick__img(src="./assets/img/elem/blik.png", alt="")
          .action__form-header
            .form-header__cont
              .form-header__right
                .form-header__right_title Полная цена
                .form-header__right_count 1980руб
              .form-header__left
                .form-header__left_title Цена со скидкой
                .form-header__left_count.form-header__left_count--bold 990руб
          .action__form_fields
            form.form(action="", method="post")
              input.input.input-name(id="input-name" name="" type="text" placeholder="Введтите ваше имя")
              input.input.input-phone(id="input-phone" name="" type="text" placeholder="Введтите номер телефона")
              button.button.form-button(type="submit")
                .form-button__img
                  img(src="./assets/img/icons/button_arrow.png", alt="")
                .form-button__text Заказать сейчас
          .action__form_secure
            .form_secure__img
              img(src="./assets/img/icons/lock.png", alt="")
            .form_secure__text Ваши данные под защитой SecureTECH
        
