section.section.opinion-section.container
  .container.opinion-container
    .opinion-title Мнение 
     span.title-orang врача
    .opinion-main
      .opinion-main__text 50% мужчин до 35 лет имеют проблемы с эрекцией.
       |  Поэтому при первых же признаках необходимо брать быка за рога и решать проблему.
       |  Я своим пациентам советую пантовые орешки Пантомакс, это натуральный препарат,
       | который отлично влияет не только на потенцию, но и на весь организм. 
       | При приеме Пантомакс у мужчины нормализуется работа сосудов и повышается потенция.
       | Одним из действий препарата также является улучшение психоэмоциональной составляющей
       | сексуальной жизни. Препарат поможет поддержать эрекцию во время всего полового акта.
       | При этом эффект пантовых орешков не зависит от времени их приема.
      .opinion-main__sign  
        .opinion-main__sign-name Ильнур Мухазин, врач-андролог, к.м.н.
        .opinion-main__sign-img
          img.sign-img__ico(src="./assets/img/elem/signature.png", alt="")