-
  var languages = ['рус', 'укр', 'eng'];
  var navItems = [
    'Главная',
    'О компании',
    'Услуги',
    'Представительства',
    'Партнеры',
    'Новости',
    'Контакты'
  ];
    var navFooter = [
    'Главная',
    'Представительства',
    'О компании',
    'Новости',
    'Партнеры',
    'Контакты'
  ];
  var srcServ = [
    {
      path:'./assets/img/elem/truck.png',
      title:'Грузовые перевозки',
      mod: 'truck'
    },
    {
      path:'./assets/img/elem/truck.png',
      title:'Адресная доставка',
      mod: 'mapmarker'
    },
    {
      path:'./assets/img/elem/truck.png',
      title:'Клиентская доставка',
      mod: 'client'
    },
    {
      path:'./assets/img/elem/truck.png',
      title:'Крос-докинг',
      mod: 'loader'
    }
  ];
  var adv = [
    {
      title:'Доставка 24/7',
      name: 'delivery'
    },
    {
      title:'Склады и представительства на територии Украины',
      name: 'stockhouse'
    },
    {
      title:'Решение любых логистических проблем',
      name: 'pad'
    }
  ];