extends ./../template.pug

block title
  title TEST

block content
  .wrapper
    include ./../common/_hero
    include ./../common/_choice
    include ./../common/_description
    include ./../common/_advantage
    include ./../common/_opinion