include ./config/_mixins.pug
include ./config/_variables.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="./assets/img/icons/favicon.png" type="image/x-icon")
    block bootstrap
    link(rel="stylesheet", href="assets/css/main.css")
    script(src="./assets/js/vendor.bundle.js")
    block style
    block title
      title General default title
  body
    block content
    script(src="./assets/js/index.bundle.js")