//- nav.mobail__menu
//-   .container.nav-container
//-     ul.nav_list
//-       each item, index in navItems
//-         if index === 0
//-           li.nav__item
//-             a.nav__link(href="#")
//-               .nav__link_text.nav__link_text--active #{item}
//-         else
//-           li.nav__item
//-             a.nav__link(href="#") 
//-               .nav__link_text #{item}